@using MediaCollector.ViewModels
@using MediaCollector.Data


@inherits ContextComponent<InputFormViewModel>
<EditForm Model="@DataContext">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="container">
        <h1>File Copy Application</h1>

        <div class="form-group">
            <label for="sourceFolder">Source Archive:</label>
            <InputText type="text" class="form-control" id="sourceArchive" @onclick="DataContext.SelectArchive" @bind-Value="DataContext.SourceArchive" disabled="@DataContext.IsBusy" />
        </div>
        <br />
        <div class="form-group">
            <label for="targetFolder">Target Folder:</label>
            <InputText type="text" class="form-control" id="targetFolder" @onclick="DataContext.PickFolder" @bind-Value="DataContext.TargetDirectory" disabled="@DataContext.IsBusy" />
        </div>
        <br />
        <div class="form-group">
            <label for="fileExtensions">File Extensions:</label>
            <InputSelect id="fileExtensions" multiple @bind-Value="DataContext.MediaFileExtensions">
                <option value=".jpg">JPEG Images</option>
                <option value=".png">PNG Images</option>
                <option value=".heic">HEIC Images</option>
                <option value=".gif">GIF Images</option>
                <option value=".heiv">HEIV Videos</option>
                <option value=".mp4">MP4 Videos</option>
                <option value=".avi">AVI Videos</option>
                <option value=".mov">MOV Videos</option>
                <option value=".mkv">MKV Videos</option>
            </InputSelect>
        </div>
        <br />
        <button class="btn btn-primary" type="submit" @onclick="DataContext.CollectFiles" disabled="@DataContext.IsBusy">
            @if (DataContext.IsBusy)
            {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            }

            @(DataContext.IsBusy ? "Copying" : "Copy Files")

        </button>
        <br />

        @if (DataContext.IsBusy)
        {
            <div class="form-group">

                <label>Copying File: @DataContext.CurrentFile</label>

            </div>
        }


    </div>
</EditForm>
